<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block javascripts %}
                {% javascripts
                    '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
                    '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
