body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-category {
  width: 100%;
  margin: 0 auto;
}
.form-category .form-category-heading,
.form-category .heading {
  margin-bottom: 10px;
}
.form-category div.heading {
  font-weight: normal;
  //text-align: auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

ul li {
    list-style-type: none;
}

a.remove_product {
    background:url(images/remove.gif) no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 20px 5px;
}

ul.products {
    display:block;
}

ul.products li div,
ul.products li div div {
    display: inline-block;
    margin-left: -15px;
}

label.required {
    text-align: left;
    display:block;
}

a.add_prod_link {
    margin-left: -144px;
}